@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

*{
    margin:0;
}
body{
    font-family: 'Roboto', sans-serif;;
}

h1{
    color: #1890ff;
    font-size: 2.5rem;
    font-weight: 400;
}

label{
    color:#8c8c8c;
    font-size: 1rem;
}

p{
    color:#8c8c8c;
    font-size: 1rem;
}
input:hover{
    border:2px solid #1890ff;
    cursor:pointer;
}

input:focus{
    outline: none;
    border:2px solid #002766;
}

select:hover{
    border:2px solid #1890ff;
    cursor:pointer
}

select:focus{
    outline: none;
    border:2px solid #002766;
}

.buttonBackground input:hover{
    cursor: pointer;
    background-color: #0050B3;

}

.buttonBackground input:focus{
    cursor: pointer;
    background-color: #002766;
}

.header img{
    width: 230px;
}

.background{
    width: 100vw;
    height: 100vh;
    background-color: #f1f5f8;
    display:flex;
    justify-content: center;
    align-items: center;
}


.backgroundContent{
    background-color: #fff;
    padding: 3rem 4rem;
    width: 81%;
    border-radius: 24px;
    box-shadow:0 0 5px rgba(0, 0, 0, 0.5)
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content{
    display: flex;
    margin-top: 40px;
}

.formContent{
    width: 60%;
    
}

.formBody{
    gap:24px;
    display:flex;
    flex-direction: column;
}

.inputGroup{
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    gap:12px;
}

.inputBG{
    height: 100px;
}

.selectInput{
    height: 32px;
    border-radius: 8px;
    border: 1px solid #BFBFBF;
    color:#8C8C8C;
}

.textInput{
    height:80px;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #BFBFBF;
    color:#8C8C8C;
    display: flex;
    justify-content: start;
    text-align: left;
    line-height: normal;
}

.buttonBackground{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonBackground input{
    background-color: #1890ff;
    color:#fff;
    font-size: 1rem;
    padding: 8px 12px;
    border:none;
    border-radius: 8px;
}

.predictionBackground{
    width: 40%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 100px 0 120px 0;
}

.predGroup{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
    align-items: center;
}

.cardBackground {
    width: 240px;
    background-color: #EAF8FF;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 16px;
}

.cardBackground p{
    color:#1890ff;
    font-size: 1rem;
}

.classificationButton {
  padding: 10px 20px;
  background-color: #1890ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px; 
}

.classificationButton:hover {
  background-color: #2980b9;
}